* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.content {
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
.content .block {
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  position: absolute;
}

.about-me {
  padding: 10% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  font-weight: 600;
  color: #c06048;
}
.about-me .about-me__text {
  color: #ae7420;
  font-size: 20px;
  margin: 6% 0;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.about-me .certificate-active {
  top: 0% !important;
}
.about-me .certificate-active .button-certificate i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.about-me .about-me__certificate {
  position: absolute;
  background-color: #783078;
  right: 10px;
  top: -16%;
  width: 25%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 0px 15px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me .about-me__certificate .certificate__wrapper-img {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me .about-me__certificate .certificate__wrapper-img img {
  width: 30%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
.about-me .about-me__certificate .certificate__wrapper-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about-me .about-me__certificate .button-certificate {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px 0px 15px 15px;
}
.about-me .about-me__certificate .button-certificate span {
  color: #c06048;
  font-weight: 900;
  margin-right: 2%;
}
.about-me .about-me__certificate .button-certificate i {
  position: static;
  color: #c06048;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me button {
  background-color: transparent;
  border: 2px solid #783078;
  background-color: transparent;
  border-radius: 15px;
  padding: 2% 4%;
  color: #c06048;
  font-weight: 900;
  width: 25%;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.about-me button:hover {
  color: #783078;
}
.about-me button::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: #783078;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me button:hover::before {
  content: "";
  top: -100%;
}

.contact-me {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.contact-me .contact-me__info-block {
  width: 40%;
  height: 95%;
  background-color: #783078f2;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
}
.contact-me .contact-me__info-block ul {
  width: 90%;
}
.contact-me .contact-me__info-block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10% auto;
  background-color: #c06048;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%;
}
.contact-me .contact-me__info-block ul li:nth-child(6) {
  margin: 30% 0 0 0;
  background-color: transparent;
  width: 100%;
}
.contact-me .contact-me__info-block ul li i {
  position: static;
  font-size: 20px;
  color: #783078f2;
}
.contact-me .contact-me__info-block ul li a {
  color: #783078f2;
  font-weight: 500;
  font-size: 14px;
}
.contact-me .contact-me__info-block ul iframe {
  border-radius: 15px;
  height: 30%;
}

.block-active {
  visibility: visible !important;
}

.active-h2 {
  position: relative;
  bottom: 4px;
}

.t1 {
  position: relative;
  cursor: crosshair;
}
.t1::before {
  content: "";
  width: 0%;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  height: 100%;
  left: 0px;
  background-color: #783078;
  z-index: -1;
}

.active-t1 {
  color: #c06048;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.active-t1::before {
  content: "";
  width: 100%;
}

.navigation {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 30%;
  height: 100%;
  padding: 1.5% 0;
  border-left: 1px solid #cf971e;
  border-radius: 0px 15px 15px 0px;
  background-color: #d890305c;
  z-index: 3;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  overflow: hidden;
}
.navigation .my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .my-info .wrapper-img {
  background-color: #c06048;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.navigation .my-info .my-names {
  color: #c06048;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 19px;
  margin: 10px 0px 5px;
}
.navigation .my-info .profession {
  color: #a76f23;
  font-size: 13px;
  margin-bottom: 10px;
}
.navigation .my-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}
.navigation .my-info ul li {
  margin: 0 5%;
}
.navigation .my-info ul li i {
  padding: 5px;
  background-color: #783078;
  position: static;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navigation .my-info ul li i:hover {
  background-color: #5b235b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation ul {
  margin-top: 15%;
  position: relative;
}
.navigation ul li {
  text-align: center;
  cursor: pointer;
  color: #ae7420;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 6% 0;
}
.navigation ul li:hover {
  background-color: #ffffff26;
}
.navigation ul .indicator {
  position: absolute;
  width: 3px;
  height: calc(100%/3);
  background-color: brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /*  &::before,
  &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 2px;
      height: 100%;
      animation: dotted 1s infinite;
      background-color: brown;
      transition: 0.5s;
  }
  &::before {
      left: 0%;
  }
  &::after {
      right: 20%;
      display: none;
  } */
  /* @keyframes dotted {
      0% {
          background-color: #c06048;
            transform: translateY(-50%) scale(1); 
      }
      50% {
          background-color: #783078;
             transform: translateY(-50%) scale(1.1); 
      }
      100% {
          background-color: #c06048;
            transform: translateY(-50%) scale(1); 
      }
  }  */
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0a800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body i {
  font-size: 30px;
  color: #d89030;
  position: absolute;
  z-index: 1;
}
body i:nth-child(1) {
  top: 4%;
  left: 3%;
}
body i:nth-child(2) {
  top: 10%;
  left: 26%;
}
body i:nth-child(3) {
  top: 3%;
  left: 51%;
}
body i:nth-child(4) {
  top: 12%;
  left: 78%;
}
body i:nth-child(5) {
  top: 1%;
  left: 96%;
}
body i:nth-child(6) {
  top: 24%;
  left: 1%;
}
body i:nth-child(7) {
  top: 27%;
  left: 39%;
}
body i:nth-child(8) {
  top: 24%;
  left: 96%;
}
body i:nth-child(9) {
  top: 47%;
  left: 19%;
}
body i:nth-child(10) {
  top: 41%;
  left: 63%;
}
body i:nth-child(11) {
  top: 49%;
  left: 89%;
}
body i:nth-child(12) {
  top: 63%;
  left: 2%;
}
body i:nth-child(13) {
  top: 60%;
  left: 43%;
}
body i:nth-child(14) {
  top: 71%;
  left: 98%;
}
body i:nth-child(15) {
  top: 82%;
  left: 22%;
}
body i:nth-child(16) {
  top: 78%;
  left: 66%;
}
body i:nth-child(17) {
  top: 96%;
  left: 6%;
}
body i:nth-child(18) {
  top: 94%;
  left: 39%;
}
body i:nth-child(19) {
  top: 94%;
  left: 89%;
}
body .blur {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.container {
  width: 80%;
  height: 75%;
  border-radius: 15px;
  margin: 0 auto;
  background-color: #f0a800;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 3;
  overflow: hidden;
}