* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.content {
  width: 70%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
}
.content .bx-chevron-up {
  display: none;
}
.content .block {
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  position: absolute;
}

.active-h2 {
  position: relative;
  bottom: 4px;
}

.t1 {
  position: relative;
  cursor: crosshair;
}
.t1::before {
  content: "";
  width: 0%;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  height: 100%;
  left: 0px;
  background-color: #783078;
  z-index: -1;
}

.active-t1 {
  color: #c06048;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.active-t1::before {
  content: "";
  width: 100%;
}

@media (max-width: 800px) {
  .content {
    width: 100%;
  }
  .content .block {
    height: 100vh !important;
  }
  .content .bx-chevron-up {
    display: block;
    cursor: pointer;
    position: fixed;
    color: white;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 2%;
    -webkit-animation: menu-arr 1s infinite;
            animation: menu-arr 1s infinite;
    z-index: 50;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  @-webkit-keyframes menu-arr {
    0% {
      bottom: 2%;
    }
    50% {
      bottom: 3%;
    }
    100% {
      bottom: 2%;
    }
  }
  @keyframes menu-arr {
    0% {
      bottom: 2%;
    }
    50% {
      bottom: 3%;
    }
    100% {
      bottom: 2%;
    }
  }
  .content .btn-r {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
}
.navigation {
  position: absolute;
  right: 0%;
  top: 0%;
  width: 30%;
  height: 100%;
  padding: 1.5% 0;
  border-radius: 0px 15px 15px 0px;
  background-color: #0000001c;
  z-index: 3;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navigation .my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .my-info .wrapper-img {
  background-color: #c06048;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}
.navigation .my-info .my-names {
  color: #c06048;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 19px;
  margin: 10px 0px 5px;
  -webkit-animation: bounce-in-top 1.1s 0.2s both;
          animation: bounce-in-top 1.1s 0.2s both;
}
.navigation .my-info .profession {
  color: #a76f23;
  font-size: 13px;
  margin-bottom: 10px;
  -webkit-animation: bounce-in-top 1.1s 0.4s both;
          animation: bounce-in-top 1.1s 0.4s both;
}
.navigation .my-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
}
.navigation .my-info ul li {
  margin: 0 5%;
}
.navigation .my-info ul li:nth-child(1) {
  -webkit-animation: bounce-in-top 1.1s 0.5s both;
          animation: bounce-in-top 1.1s 0.5s both;
}
.navigation .my-info ul li:nth-child(2) {
  -webkit-animation: bounce-in-top 1.1s 0.7s both;
          animation: bounce-in-top 1.1s 0.7s both;
}
.navigation .my-info ul li:nth-child(3) {
  -webkit-animation: bounce-in-top 1.1s 0.9s both;
          animation: bounce-in-top 1.1s 0.9s both;
}
.navigation .my-info ul li i {
  padding: 5px;
  background-color: #783078;
  position: static;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navigation .my-info ul li i:hover {
  background-color: #5b235b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.navigation ul {
  margin-top: 15%;
  position: relative;
}
.navigation ul .nav-button {
  text-align: center;
  cursor: pointer;
  color: #ae7420;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 6% 0;
}
.navigation ul .nav-button:nth-child(2) {
  -webkit-animation: slide-in-right 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.navigation ul .nav-button:nth-child(3) {
  -webkit-animation: slide-in-right 0.5s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s 1.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.navigation ul .nav-button:nth-child(4) {
  -webkit-animation: slide-in-right 0.5s 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-right 0.5s 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.navigation ul .nav-button:hover {
  background-color: #ffffff26;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.navigation ul .indicator {
  position: absolute;
  width: 3px;
  height: calc(100%/3);
  background-color: brown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.active {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation_contact .my-info .wrapper-img {
  -webkit-box-shadow: 0px 0px 7px #7b3375;
          box-shadow: 0px 0px 7px #7b3375;
}
.navigation_contact .my-info .my-names {
  text-shadow: 0px 0px 3px #7b3375;
}
.navigation_contact .my-info .profession {
  text-shadow: 0px 0px 3px #7b3375;
}
.navigation_contact ul .nav-button {
  text-shadow: 0px 0px 3px #7b3375;
}

@media (max-width: 800px) {
  .navigation {
    height: 100vh;
    right: auto;
    top: auto;
    bottom: -200%;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000000c4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation .my-info .wrapper-img {
    width: 180px;
    height: 180px;
    margin: 15px 0px 10px;
  }
  .navigation .my-info .profession {
    margin-bottom: 15px;
  }
  .navigation ul {
    width: 90%;
  }
  .navigation ul .nav-button {
    padding: 10% 0;
  }
  .navigation ul .indicator {
    display: none;
  }
}
.open {
  bottom: 0%;
}

.about-me {
  padding: 10% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-me ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  font-weight: 600;
  color: #c06048;
}
.about-me .about-me__text {
  color: #ae7420;
  font-size: 20px;
  margin: 6% 0;
  letter-spacing: 1px;
  line-height: 1.3em;
}
.about-me .certificate-active {
  top: 0% !important;
}
.about-me .certificate-active .button-certificate i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.about-me .about-me__certificate {
  position: absolute;
  background-color: #783078;
  right: 10px;
  top: -16%;
  width: 25%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0px 0px 15px 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me .about-me__certificate .certificate__wrapper-img {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-me .about-me__certificate .certificate__wrapper-img img {
  width: 30%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10px;
}
.about-me .about-me__certificate .certificate__wrapper-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about-me .about-me__certificate .button-certificate {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px 0px 15px 15px;
}
.about-me .about-me__certificate .button-certificate span {
  color: #c06048;
  font-weight: 900;
  margin-right: 2%;
}
.about-me .about-me__certificate .button-certificate i {
  position: static;
  color: #c06048;
  font-size: 12px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me button {
  background-color: transparent;
  border: 2px solid #783078;
  border-radius: 15px;
  padding: 2% 4%;
  color: #c06048;
  font-weight: 900;
  width: 25%;
  position: relative;
  overflow: hidden;
  -webkit-transition: color 1s;
  transition: color 1s;
}
.about-me button:hover {
  color: #783078;
}
.about-me button::before {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  background-color: #783078;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.about-me button:hover::before {
  content: "";
  top: -100%;
}

/* @media (max-width:400px) {
    .about-me {
        .about-me__certificate {
            right: 50%;
            transform: translateX(50%);
            top: -16%;
            width: 75%;
            height: 20%;
        }
        ul {
            font-size: 60px;
        }
        .about-me__text {
            margin: 15% 0;
        }
        button {
            width: 50%;
            padding: 6% 6%;
        }
    }
} */
@media screen and (min-width: 201px) and (max-width: 800px) {
  .about-me {
    min-height: 100vh !important;
  }
  .about-me ul {
    font-size: 60px;
  }
  .about-me .about-me__text {
    margin: 15% 0;
  }
  .about-me button {
    width: 50%;
    padding: 6% 6%;
  }
  .about-me .about-me__certificate {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    top: -16%;
    width: 75%;
    height: 20%;
  }
}
.my-work .my-work__container-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.my-work .my-work__container-wrapper i {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.my-work .my-work__container-wrapper .bx-chevron-up {
  top: 2%;
  display: none;
}
.my-work .my-work__container-wrapper .bx-chevron-down {
  top: 95%;
}
.my-work .my-work__container-wrapper #myWorcContainer {
  padding: 5% 3%;
  width: 100%;
  height: 100%;
}
.my-work .my-work__container-wrapper #myWorcContainer .my-work__image {
  width: 95%;
  height: 65%;
  border-radius: 15px;
  margin: auto;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-animation: bg_mw_img 8s infinite;
          animation: bg_mw_img 8s infinite;
}
@-webkit-keyframes bg_mw_img {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes bg_mw_img {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.my-work .my-work__container-wrapper #myWorcContainer .my-work__image .my-work__image-s {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #5f255fc7;
  border-radius: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}
.my-work .my-work__container-wrapper #myWorcContainer .my-work__image .my-work__image-s:hover {
  background-color: #5f255f94;
}
.my-work .my-work__container-wrapper #myWorcContainer .weather {
  background: url(../img/weather.png) no-repeat;
  background-size: 130% 130%;
}
.my-work .my-work__container-wrapper #myWorcContainer .ROOM {
  background: url(../img/ROOM.png) no-repeat;
  background-size: 130% 130%;
}
.my-work .my-work__container-wrapper #myWorcContainer .IT {
  background: url(../img/StudioIT.png) no-repeat;
  background-size: 130% 130%;
}
.contact-me {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.contact-me .contact_info-btn {
  display: none;
  position: absolute;
  left: 2%;
  top: 2%;
  cursor: pointer;
  color: #793078;
  font-size: 35px;
  z-index: 50;
}
.contact-me .contact-me__info-block {
  width: 40%;
  height: 95%;
  background-color: #783078f2;
  position: absolute;
  top: 50%;
  left: 1%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-me .contact-me__info-block ul {
  width: 90%;
}
.contact-me .contact-me__info-block ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 11% 0;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  position: relative;
}
.contact-me .contact-me__info-block ul li:nth-child(6) {
  margin: 30% 0 0 0;
  background-color: transparent;
  width: 100%;
}
.contact-me .contact-me__info-block ul li i {
  position: static;
  font-size: 20px;
  color: #c06048;
  margin-right: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-me .contact-me__info-block ul li a {
  color: #c06048;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-me .contact-me__info-block ul li:hover i {
  color: #f0a800;
}
.contact-me .contact-me__info-block ul li:hover a {
  color: #f0a800;
}
.contact-me .contact-me__info-block ul iframe {
  border-radius: 15px;
  height: 30%;
  width: 100%;
}
.contact-me form {
  width: 55%;
  height: 95%;
  margin-right: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-me form input {
  width: 90%;
  height: 10%;
  border-radius: 15px;
  background-color: transparent;
  border: 1px solid #7b3375;
  text-align: center;
  color: #7b3375;
  font-size: 17px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-me form input:hover {
  border: 1px solid #f0a800;
}
.contact-me form button {
  width: 90%;
  height: 10%;
  background-color: #783078;
  color: white;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  border: 1px solid #783078;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 15px;
}
.contact-me form button:hover {
  color: #783078;
  background-color: transparent;
}
.contact-me form textarea {
  width: 90%;
  max-width: 90%;
  max-height: 35%;
  min-height: 25%;
  border: 1px solid #7b3375;
  border-radius: 15px;
  background-color: transparent;
  padding: 2% 5%;
  color: #7b3375;
  font-size: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-me form textarea:hover {
  border: 1px solid #f0a800;
}

@media (max-width: 400px) {
  .contact-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-me .contact_info-btn {
    display: block;
  }
  .contact-me .contact-me__info-block {
    width: 100%;
    height: 100%;
    position: absolute;
    top: auto;
    left: auto;
    bottom: -100%;
    -webkit-transform: none;
            transform: none;
  }
  .contact-me .open-i-contact {
    bottom: 0%;
  }
  .contact-me form {
    width: 100%;
    height: 85%;
  }
}
.block-active {
  visibility: visible !important;
}
.block-active .about-me__words .word-h2:nth-child(1) {
  -webkit-animation: bounce-in-top 1.1s both;
          animation: bounce-in-top 1.1s both;
}
.block-active .about-me__words .word-h2:nth-child(2) {
  -webkit-animation: bounce-in-top 1.1s 0.1s both;
          animation: bounce-in-top 1.1s 0.1s both;
}
.block-active .about-me__words .word-h2:nth-child(3) {
  -webkit-animation: bounce-in-top 1.1s 0.2s both;
          animation: bounce-in-top 1.1s 0.2s both;
}
.block-active .about-me__words .word-h2:nth-child(4) {
  -webkit-animation: bounce-in-top 1.1s 0.3s both;
          animation: bounce-in-top 1.1s 0.3s both;
}
.block-active .about-me__words .word-h2:nth-child(5) {
  -webkit-animation: bounce-in-top 1.1s 0.4s both;
          animation: bounce-in-top 1.1s 0.4s both;
}
.block-active .about-me__words .word-h2:nth-child(6) {
  -webkit-animation: bounce-in-top 1.1s 0.5s both;
          animation: bounce-in-top 1.1s 0.5s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.block-active .about-me__text {
  -webkit-animation: bounce-in-top 1.1s 0.7s both;
          animation: bounce-in-top 1.1s 0.7s both;
}
.block-active #contactMe {
  -webkit-animation: bounce-in-top 1.1s 1.2s both;
          animation: bounce-in-top 1.1s 1.2s both;
}
.block-active .about-me__certificate {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: certificate 0.5s 2.5s both;
          animation: certificate 0.5s 2.5s both;
}
@-webkit-keyframes certificate {
  0% {
    top: -20%;
  }
  100% {
    top: -16%;
  }
}
@keyframes certificate {
  0% {
    top: -20%;
  }
  100% {
    top: -16%;
  }
}
.block-active .contact-me__info-block {
  -webkit-animation: info-block 0.5s both;
          animation: info-block 0.5s both;
}
@-webkit-keyframes info-block {
  0% {
    opacity: 0;
    left: -10%;
  }
  100% {
    left: 1%;
  }
}
@keyframes info-block {
  0% {
    opacity: 0;
    left: -10%;
  }
  100% {
    left: 1%;
  }
}
.block-active .contact-me__info-block ul li:nth-child(1) {
  -webkit-animation: rotate-hor-center 0.7s 3.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: rotate-hor-center 0.7s 3.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.block-active .contact-me__info-block ul li:nth-child(2) {
  -webkit-animation: rotate-hor-center 0.7s 3.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: rotate-hor-center 0.7s 3.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.block-active .contact-me__info-block ul li:nth-child(3) {
  -webkit-animation: rotate-hor-center 0.7s 3.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: rotate-hor-center 0.7s 3.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.block-active .contact-me__info-block ul li:nth-child(4) {
  -webkit-animation: rotate-hor-center 0.7s 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: rotate-hor-center 0.7s 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.block-active .contact-me__info-block ul li:nth-child(5) {
  -webkit-animation: rotate-hor-center 0.7s 4.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: rotate-hor-center 0.7s 4.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
.block-active .contact-me__info-block ul li iframe {
  -webkit-animation: slide-in-left 0.7s 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.7s 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.block-active form input:nth-child(1) {
  -webkit-animation: slide-in-bck-center 0.7s 0.5s both;
          animation: slide-in-bck-center 0.7s 0.5s both;
}
.block-active form input:nth-child(2) {
  -webkit-animation: slide-in-bck-center 0.7s 0.8s both;
          animation: slide-in-bck-center 0.7s 0.8s both;
}
.block-active form input:nth-child(3) {
  -webkit-animation: slide-in-bck-center 0.7s 1.1s both;
          animation: slide-in-bck-center 0.7s 1.1s both;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.block-active form textarea {
  -webkit-animation: slide-in-bck-center 0.7s 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bck-center 0.7s 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.block-active form button {
  -webkit-animation: slide-in-bck-center 0.7s 1.7s both;
          animation: slide-in-bck-center 0.7s 1.7s both;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f0a800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: 100vh;
}
body i {
  font-size: 30px;
  color: #d89030;
  position: absolute;
  z-index: 1;
}
body i:nth-child(1) {
  top: 4%;
  left: 3%;
}
body i:nth-child(2) {
  top: 10%;
  left: 26%;
}
body i:nth-child(3) {
  top: 3%;
  left: 51%;
}
body i:nth-child(4) {
  top: 12%;
  left: 78%;
}
body i:nth-child(5) {
  top: 1%;
  right: 2%;
}
body i:nth-child(6) {
  top: 24%;
  left: 1%;
}
body i:nth-child(7) {
  top: 27%;
  left: 39%;
}
body i:nth-child(8) {
  top: 24%;
  right: 1%;
}
body i:nth-child(9) {
  top: 47%;
  left: 19%;
}
body i:nth-child(10) {
  top: 41%;
  left: 63%;
}
body i:nth-child(11) {
  top: 49%;
  left: 89%;
}
body i:nth-child(12) {
  top: 63%;
  left: 2%;
}
body i:nth-child(13) {
  top: 60%;
  left: 43%;
}
body i:nth-child(14) {
  top: 71%;
  right: 3%;
}
body i:nth-child(15) {
  top: 82%;
  left: 22%;
}
body i:nth-child(16) {
  top: 78%;
  left: 66%;
}
body i:nth-child(17) {
  top: 96%;
  left: 6%;
}
body i:nth-child(18) {
  top: 94%;
  left: 39%;
}
body i:nth-child(19) {
  top: 94%;
  left: 89%;
}

.container {
  width: 80%;
  height: 75%;
  border-radius: 15px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  position: relative;
  z-index: 3;
  overflow: hidden;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

@media (max-width: 800px) {
  body {
    height: calc(var(--vh, 1vh) * 100);
  }

  .container {
    min-width: 100%;
    min-height: 100%;
    border-radius: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}