.content {
    width: 70%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    .block {
        width: 100%;
        height: 100%;
        z-index: 2;
        visibility: hidden;
        position: absolute;
    }
}

.active-h2 {
    position: relative;
    bottom: 4px;
}

.t1 {
    position: relative;
    cursor: crosshair;
    &::before {
        content: '';
        width: 0%;
        transition: 1s;
        position: absolute;
        height: 100%;
        left: 0px;
        background-color: #783078;
        z-index: -1;
    }
}

.active-t1 {
    color: #c06048;
    transition: color 1s;
    &::before {
        content: '';
        width: 100%;
    }
}

@media (max-width:400px) {
    .content {
        width: 100%;
        .bx-chevron-up {
            cursor: pointer;
            position: fixed;
            color: white;
            top: auto;
            left: 50%;
            transform: translateX(-50%);
            bottom: 2%;
            animation: menu-arr 1s infinite;
            @keyframes menu-arr {
                0% {
                    bottom: 2%;
                }
                50% {
                    bottom: 3%;
                }
                100% {
                    bottom: 2%;
                }
            }
        }
    }
}