.contact-me {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    .contact_info-btn {
        display: none;
        position: absolute;
        left: 2%;
        top: 2%;
        cursor: pointer;
        color: #793078;
        font-size: 35px;
        z-index: 50;
    }
    .contact-me__info-block {
        width: 40%;
        height: 95%;
        background-color: #783078f2;
        position: absolute;
        top: 50%;
        left: 1%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1%;
        z-index: 3;
        transition: 0.5s;
        ul {
            width: 90%;
            li {
                display: flex;
                align-items: center;
                margin: 11% 0;
                padding: 5px 10px;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                position: relative;
                &:nth-child(6) {
                    margin: 30% 0 0 0;
                    background-color: transparent;
                    width: 100%;
                }
                i {
                    position: static;
                    font-size: 20px;
                    color: #c06048;
                    margin-right: 5%;
                    transition: 0.5s;
                }
                a {
                    color: #c06048;
                    font-weight: 500;
                    font-size: 14px;
                    transition: 0.5s;
                }
                &:hover i {
                    color: #f0a800;
                }
                &:hover a {
                    color: #f0a800;
                }
            }
            iframe {
                border-radius: 15px;
                height: 30%;
                width: 100%;
            }
        }
    }
    form {
        width: 55%;
        height: 95%;
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        input {
            width: 90%;
            height: 10%;
            border-radius: 15px;
            background-color: transparent;
            border: 1px solid #7b3375;
            text-align: center;
            color: #7b3375;
            font-size: 17px;
            transition: 0.5s;
            &:hover {
                border: 1px solid #f0a800;
            }
        }
        button {
            width: 90%;
            height: 10%;
            background-color: #783078;
            color: white;
            font-size: 12px;
            cursor: pointer;
            position: relative;
            border: 1px solid #783078;
            overflow: hidden;
            transition: 0.5s;
            border-radius: 15px;
            &:hover {
                color: #783078;
                background-color: transparent;
            }
        }
        textarea {
            width: 90%;
            max-width: 90%;
            max-height: 35%;
            min-height: 25%;
            border: 1px solid #7b3375;
            border-radius: 15px;
            background-color: transparent;
            padding: 2% 5%;
            color: #7b3375;
            font-size: 15px;
            transition: 0.5s;
            &:hover {
                border: 1px solid #f0a800;
            }
        }
    }
}

@media (max-width:600px) {
    .contact-me {
        display: flex;
        justify-content: center;
        .contact_info-btn {
            display: block;
        }
        .contact-me__info-block {
            width: 100%;
            height: 100%;
            position: absolute;
            top: auto;
            left: auto;
            bottom: -100%;
            transform: none;
        }
        .open-i-contact {
            bottom: 0%;
        }
        form {
            width: 100%;
            height: 85%;
        }
    }
}