.content {
    width: 70%;
    height: 100%;
    position: relative;
    .block {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        overflow-y: scroll;
    }
}

.about-me {
    padding: 15% 5%;
    display: none;
    h2 {
        font-size: 50px;
        font-weight: 600;
        color: #c06048;
    }
    p {
        max-width: 75%;
        color: #ae7420;
        font-size: 20px;
        margin: 6% 0;
        letter-spacing: 1px;
        line-height: 1.3em;
    }
    button {
        background-color: transparent;
        border: 1px solid #783078;
        background-color: #783078;
        border-radius: 15px;
        padding: 2% 4%;
        color: #fffbfb;
        font-weight: 200;
    }
}

.my-work {
    position: relative;
    .wrapper-slider {
        width: 85%;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid black;
        .slider {
            .weather {
                background-color: black;
            }
            .room {
                background-color: pink;
            }
            .it-studio {
                background-color: white;
            }
            .slider-item {
                height: 130px;
                margin: 0px 10px;
            }
            .slick-slider {}
            /* Слайдер запущен */
            .slick-slider.slick-initialized {}
            /* Слайдер с точками */
            .slick-slider.slick-dotted {}
            /* Ограничивающая оболочка */
            .slick-list {
                overflow: hidden;
                padding: 0px !important;
                display: flex;
                justify-content: center;
            }
            /* Лента слайдов */
            .slick-track {
                display: flex;
                min-width: 100%;
            }
            /* Слайд */
            .slick-slide {}
            /* Слайд активный (показывается) */
            .slick-slide.slick-active {}
            /* Слайд основной */
            .slick-slide.slick-current {}
            /* Слайд по центру */
            .slick-slide.slick-center {}
            /* Клонированный слайд */
            .slick-slide.slick-cloned {}
            /* Стрелка */
            .slick-arrow {}
            /* Стрелка влево */
            .slick-arrow.slick-prev {}
            /* Стрелка вправо */
            .slick-arrow.slick-next {}
            /* Стрелка не активная */
            .slick-arrow.slick-disabled {}
            /* Точки (булиты) */
            .slick-dots {}
            .slick-dots li {}
            /* Активная точка */
            .slick-dots li.slick-active {}
            /* Элемент точки */
            .slick-dots li button {}
        }
    }
}

.my-skills {
    display: none;
}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    .contact-me__containerTop {
        display: flex;
        justify-content: space-around;
        .contact-me_block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            model-viewer {
                width: 100px;
                height: 100px;
                outline: none;
            }
            span {
                color: #783078;
                font-weight: 600;
                font-size: 20px;
                margin: 2% 0;
            }
            p {
                color: #b17620;
                font-weight: 200;
            }
        }
    }
    .contact-me__form {
        padding: 0 2%;
        form {
            .inputs {
                display: flex;
                justify-content: space-around;
                margin: 10% 0;
                input {
                    width: 30%;
                    background-color: transparent;
                    border-bottom: 1px solid #c06048;
                    text-align: center;
                    font-size: 17px;
                    color: #b17620;
                    &::placeholder {
                        color: #b17620;
                    }
                }
            }
            textarea {
                width: 100%;
                background-color: transparent;
                border: 1px solid #b17620;
                border-radius: 15px;
                max-width: 100%;
                border: 1px solid #c06048;
                font-size: 15px;
                max-height: 180px;
                padding: 2% 3%;
            }
            input[type="submit"] {
                padding: 2% 3%;
                width: 100%;
                border-radius: 15px;
                background-color: #783078;
                color: white;
                font-weight: 300;
                margin-top: 3%;
                cursor: pointer;
            }
        }
    }
}