.content {
    width: 70%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    .block {
        width: 100%;
        height: 100%;
        z-index: 2;
        visibility: hidden;
        position: absolute;
    }
}

.about-me {
    padding: 10% 5%;
    flex-direction: column;
    h2 {
        font-size: 50px;
        font-weight: 600;
        color: #c06048;
    }
    p {
        color: #ae7420;
        font-size: 20px;
        margin: 6% 0;
        letter-spacing: 1px;
        line-height: 1.3em;
    }
    .about-me__img-wrapper {
        /*  margin-top: 6%; */
        margin-bottom: 6%;
        img {
            width: 10%;
            cursor: pointer;
            transition: 0.5s;
            border-radius: 10px;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    button {
        background-color: transparent;
        border: 1px solid #783078;
        background-color: #783078;
        border-radius: 15px;
        padding: 2% 4%;
        color: #fffbfb;
        font-weight: 200;
    }
}

.my-work {}

.contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contact-me__containerTop {
        display: flex;
        justify-content: space-around;
        .contact-me_block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            model-viewer {
                width: 100px;
                height: 100px;
                outline: none;
            }
            span {
                color: #783078;
                font-weight: 600;
                font-size: 20px;
                margin: 2% 0;
            }
            p {
                color: #b17620;
                font-weight: 200;
            }
        }
    }
    .contact-me__form {
        padding: 0 2%;
        form {
            .inputs {
                display: flex;
                justify-content: space-around;
                margin: 10% 0;
                input {
                    width: 30%;
                    background-color: transparent;
                    border-bottom: 1px solid #c06048;
                    text-align: center;
                    font-size: 17px;
                    color: #b17620;
                    &::placeholder {
                        color: #b17620;
                    }
                }
            }
            textarea {
                width: 100%;
                background-color: transparent;
                border: 1px solid #b17620;
                border-radius: 15px;
                max-width: 100%;
                border: 1px solid #c06048;
                font-size: 15px;
                max-height: 180px;
                padding: 2% 3%;
            }
            input[type="submit"] {
                padding: 2% 3%;
                width: 100%;
                border-radius: 15px;
                background-color: #783078;
                color: white;
                font-weight: 300;
                margin-top: 3%;
                cursor: pointer;
            }
        }
    }
}

.block-active {
    visibility: visible !important;
}