.my-work {
   display: flex;
    div {
        width: calc(100%/3);
        border: 1px solid black;
        height: 100%;
        cursor: pointer;
        transition: 0.5s;
        &:hover {
            width: calc(100%/1.5);
        }
        &:nth-child(1){
            background: linear-gradient(0deg, rgba(9,9,121,0.5) 35%, rgba(1,181,234,0.5) 65%), url(../img/StudioIT.png) no-repeat;
            background-position: 50% 50%;
            background-size: 300% 100%;
        }
        &:nth-child(2){
            background: url(../img/weather.png) no-repeat;
            background-position: 50% 50%;
            background-size: 300% 100%;
        }
        &:nth-child(3){
            background: url(../img/ROOM.png) no-repeat;
            background-position: 50% 50%;
            background-size: 300% 100%;
        }
        h3 {
            font-size: 20px;
            color: white;
            font-weight: 900;
        }
    }
}