.navigation {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30%;
    height: 100%;
    padding: 1.5% 0;
    border-radius: 0px 15px 15px 0px;
    background-color: #0000001c;
    z-index: 3;
    backdrop-filter: blur(3px);
    overflow: hidden;
    transition: 0.5s;
    .my-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .wrapper-img {
            background-color: #c06048;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            animation: bounce-in-top 1.1s both;
        }
        .my-names {
            color: #c06048;
            font-weight: 600;
            letter-spacing: 0.1em;
            font-size: 19px;
            margin: 10px 0px 5px;
            animation: bounce-in-top 1.1s 0.2s both;
        }
        .profession {
            color: #a76f23;
            font-size: 13px;
            margin-bottom: 10px;
            animation: bounce-in-top 1.1s 0.4s both;
        }
        ul {
            display: flex;
            justify-content: center;
            margin-top: 0;
            li {
                margin: 0 5%;
                &:nth-child(1) {
                    animation: bounce-in-top 1.1s 0.5s both;
                }
                &:nth-child(2) {
                    animation: bounce-in-top 1.1s 0.7s both;
                }
                &:nth-child(3) {
                    animation: bounce-in-top 1.1s 0.9s both;
                }
                i {
                    padding: 5px;
                    background-color: #783078;
                    position: static;
                    font-size: 15px;
                    color: white;
                    border-radius: 4px;
                    transition: 0.5s;
                    &:hover {
                        background-color: #5b235b;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    ul {
        margin-top: 15%;
        position: relative;
        .nav-button {
            text-align: center;
            cursor: pointer;
            color: #ae7420;
            font-size: 17px;
            font-weight: 400;
            transition: 0.4s;
            padding: 6% 0;
            &:nth-child(2) {
                animation: slide-in-right 0.5s 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            &:nth-child(3) {
                animation: slide-in-right 0.5s 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            &:nth-child(4) {
                animation: slide-in-right 0.5s 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
            &:hover {
                background-color: #ffffff26;
            }
        }
        @keyframes slide-in-right {
            0% {
                transform: translateX(1000px);
                opacity: 0;
            }
            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }
        .indicator {
            position: absolute;
            width: 3px;
            height: calc(100%/3);
            background-color: brown;
            transition: 0.5s;
        }
    }
}

.active {
    position: relative;
    transition: 0.5s;
}

.navigation_contact {
    .my-info {
        .wrapper-img {
            box-shadow: 0px 0px 7px #7b3375;
        }
        .my-names {
            text-shadow: 0px 0px 3px #7b3375;
        }
        .profession {
            text-shadow: 0px 0px 3px #7b3375;
        }
    }
    ul {
        .nav-button {
            text-shadow: 0px 0px 3px #7b3375;
        }
    }
}

@media (max-width:800px) {
    .navigation {
        height: 100%;
        right: auto;
        top: auto;
        bottom: -200%;
        width: 100%;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000c4;
        justify-content: center;
        .my-info {
            .wrapper-img {
                width: 180px;
                height: 180px;
                margin: 15px 0px 10px;
            }
            .profession {
                margin-bottom: 15px;
            }
        }
        ul {
            width: 90%;
            .nav-button {
                padding: 10% 0;
            }
            .indicator {
                display: none;
            }
        }
    }
}

.open {
    bottom: 0%;
}